<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999780308719-loeaq0oo8crrjq1vb5hab4k55th3lifb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999780308719-loeaq0oo8crrjq1vb5hab4k55th3lifb</string>
	<key>API_KEY</key>
	<string>AIzaSyCjcIBcmqHivMPbFMRiI5-soboH3JPSa9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>999780308719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sudobility.raidr.agent</string>
	<key>PROJECT_ID</key>
	<string>raidr-agent</string>
	<key>STORAGE_BUCKET</key>
	<string>raidr-agent.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999780308719:ios:7068de0375eda2e017ed1a</string>
</dict>
</plist>